<header>
  <div class="container">
    <div class="header">
      <a [routerLink]="['./']" class="logo">
        <img src="assets/tvm-header-logo.png" alt="TVmaze" width="158" height="50" />
      </a>

      <div class="search">
        <div class="ui-inputgroup">
          <input [(ngModel)]="query" type="text" pInputText placeholder="Search shows by name">
          <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="searchShows()"></button>
        </div>
        <div class="search-result" *ngIf="showSearchResults">
          <app-search-results
            [searchResult]="searchResult"
            [query]="query"
            (clearResults)="clearSearchResults()"
          ></app-search-results>
        </div>
      </div>

      <div class="login">
        <a [routerLink]="['./profile']" style="margin-right: 16px;" *ngIf="auth.loggedIn">Profile</a>
        <button
          pButton
          type="button"
          (click)="auth.login()"
          *ngIf="!auth.loggedIn"
          icon="pi pi-sign-in" iconPos="right"
          label="Login"
        ></button>
        <button
          pButton
          type="button"
          (click)="auth.logout()"
          *ngIf="auth.loggedIn"
          icon="pi pi-sign-out" iconPos="right"
          label="Log out"
        ></button>
      </div>
    </div>
  </div>

</header>