<app-info-card
  *ngIf="(show$ | async) as show"
  [image]="show?.image?.medium"
  [name]="show.name"
  [summary]="show.summary"
  [title]="'Show info'"
>
  <p><strong>Schedule:</strong> {{ show.schedule.days.join(', ') }} at {{ show.schedule.time }}</p>
  <p><strong>Status:</strong> {{ show.status }}</p>
  <p><strong>Show Type:</strong> {{ show.type }}</p>
  <p><strong>Genres:</strong> {{ show.genres.join(' | ')}}</p>
  <p><strong>Official site: </strong><a [href]="show.officialSite" target="_blank">{{ show.officialSite }}</a></p>
</app-info-card>
