.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile {
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .profile {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr);
    column-gap: 32px;
  }
}