.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 16px;
}

.show-list {
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
}